@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* Inicio */
/* menu */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  
  /* Estilos para el encabezado */
  .header, img button{
    background-color: rgb(16,0,79);
    color: #fff;
    padding: 5px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  img{
    width: 45px;
    height: auto;
  }

  .nav-main .menu-selection, li {
    text-decoration: none;
    display: flex;
    border: 10px;
    justify-content: space-between;
  }

  .menu-selection li a{
    color: #fff;
    padding: 15px;
    list-style: none;
    display: flex;
    text-decoration: none;
  }

  li a:hover{
      transform: scale(1.1);
      
  }

  .header button{
    height: 40px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border: solid transparent;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    margin-top: 5px;
  }
  button:hover{
    transform: scale(1.1);
  }

  .portada img{
    width: 100%;
    height: 80%;
  }

  /* Estilo informacion de ciudades */
  main{
    padding: 20px;
    border-radius: 15px;
    color: #fff;
  }
  section h2{
    color: rgb(16,0,79);
    font-weight: 700;
    font-size: 25px;
  }

  section p{
    color: rgb(16,0,79);
    font-size: 15px;
  }

  /* Articulo #1 */
  .article-1 .contain-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .contain-img figure img, figcaption{
    width: 240px;
    padding: 0; 
  }

  figure:hover{
    transform: scale(1.1);
  }

  figcaption{
    font-weight: 300;
    font-size: 1.625rem;
  }

  .contain-img figcaption, p{
    color: rgb(16,0,79);
    font-weight: 800;
    font-size: 25px;
    padding: 0;
  }

  .contain-img p{
    color: rgb(16,0,79);
    font-weight: 200;
    font-size: 12px;
  }

  /* Articulo #1 */
  .populares> h2{
    align-items: center;
  }

  .article-2 .contain-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .contain-info figure img {
    width: 240px;
    padding: 0; 
  }
  .contain-info figcaption, p{
    color: rgb(16,0,79);
    font-weight: 800;
    font-size: 25px;
    padding: 0;
  }



  article a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Estilos para las secciones */
  section {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  /* Estilos para el pie de página */
  .derechos-autor p{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: large;
    margin: 0;
  }


  