@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* Inicio */
/* menu */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  
  /* Estilos para el encabezado */
  .header, img button{
    background-color: rgb(16,0,79);
    color: #fff;
    padding: 2px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  img{
    width: 45px;
    height: auto;
  }

  .nav-main .menu-selection, li{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  .menu-selection li a{
    color: #fff;
    padding: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;

  }

  li a:hover{
      transform: scale(1.1);
  }

  .header button{
    height: 40px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border: solid transparent;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    margin-top: 5px;
  }
  button:hover{
    transform: scale(1.1);
  }

  .portada img{
    width: 100%;
    height: auto;
  }

  /* Estilo informacion de ciudades */
  main{
    padding: 20px;
    border-radius: 15px;
    color: #fff;
  }
  section h2{
    color: rgb(16,0,79);
    font-weight: 700;
    font-size: 25px;
  }

  section p{
    color: rgb(16,0,79);
    font-size: 15px;
  }

  /* Articulo #1 */
  .article-1 .contain-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .contain-img figure img, figcaption{
    width: 240px;
    padding: 0; 
  }

  figure:hover{
    transform: scale(1.1);
  }

  figcaption{
    font-weight: 300;
    font-size: 1.625rem;
  }

  .contain-img figcaption, p{
    color: rgb(16,0,79);
    font-weight: 800;
    font-size: 25px;
    padding: 0;
  }

  .contain-img p{
    color: rgb(16,0,79);
    font-weight: 200;
    font-size: 12px;
  }

  /* Articulo #2 */
  .populares > h2{
    align-items: center;
  }

  .article-2 .contain-info{
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .contain-info figure img {
    width: 250px;
    padding: 0; 
    margin: 0;
    border-radius: 15px;
  }
  .contain-info figcaption, p{
    color: rgb(16,0,79);
    font-weight: 800;
    font-size: 25px;
    padding: 0;
  }
  article a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }

  /* Articulo #3 - acerca de. */
  section {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .info .info-legal{
    display: flex;
    justify-content: flex-start;
  }

  .info-legal .info-asociados, li{
    color: black;
      text-decoration: none;
      padding: 1rem;
  }

  .lista-info h3{
    display: flex;
    color: rgb(16,0,79);
    padding: 1rem;
  }

  .lista-info li:hover{
    transform: scale(1.1);
  }

  .info, .acerca-de{
    display: flex;
    justify-content: space-between;
  }
  .info-acerca-de h1, h3{
    color: rgb(16,0,79);
  }

  .info-acerca-de p{
    color: black;
    font-weight: 500;
  }

  .acerca-de .contactanos{
    display: flex;
  }


  /* Estilos Derechos de autor */
  .derechos-autor p{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    margin: 0;
  }



  